/* The overall application is set to have no padding or margins  */
html {
  padding: 0;
  margin: 0;
}

/* The body is then set with a background as well as sizing and padding for content  */
body {
  max-width: 300px;
  min-height: 650px;
  background-color: #78638C;
  padding: 20px;
  font-size: 15px;
  color: #fff;
  font-family: "proxima-nova", sans-serif !important;
}

/* The title for the landing page has seperate styling as it has a different layout to the other pages  */
.home {
  color: #fff;
  padding-top: 60px;
  font-size: 20px;
}

/* Headings are set to be used throughout the application  */
h1 {
  color: #fff;
  padding-top: 50px;
  font-size: 20px;
}

h2 {
  color: #fff;
  font-size: 16px;
}

h3 {
  font-size: 14px;
  color: #E6CCFF;
}
/* List items have the styling removed */
li {
  list-style: none;
}

/* The logo on the landing page is set */
.logo {
  max-width: 125px;
  float: left;
}
/* Navigation/Button Styling */
.arrow {
  max-width: 40px;
  float: left;
}

/* The title of the application on the home page has its own styling*/
.pagetitle {
  font-family: Georgia;
  font-size: 16px;
  margin: 0;
  padding-top: 5px;
  text-align: center;
}
/* Container for page title */
.app-title {
  padding-top: 30px;
}

/* See more link is styled*/
.seemore a {
  color: #E6CCFF;
  float: right;
  font-weight: bold;
}

/* When links are hovered on the colour is set to fit theme */
a:hover {
  color: #3d005b;
}
/* Links are set to default colour */
a {
  color: #E6CCFF;
  text-decoration: none;
}

/* Table Styling */
th, td {
  text-align: left;
  padding-right: 10px;
}

/* Form is positioned on page and text aligned */
form {
  padding: 30px;
  text-align: center;
}

/* Accordion Styling */
button.accordion {
  width: 100%;
  background-color: #3d005b;
  border: none;
  outline: none;
  text-align: left;
  padding: 10px 10px;
  font-size: 18px;
  color: #444;
  cursor: pointer;
  transition: background-color 0.2s linear;
  font-size: 14px;
  color: #E6CCFF;
}

button.accordion:after {
  content: '\f055';
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #78638C;
}

.accordion-content {
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

/* CSS Grid Styling*/
.button1 {
  grid-area: button1;
}
.button2 {
  grid-area: button2;
  padding-top: 5px;
}
.button3 {
  grid-area: button3;
  padding-top: 5px;
}
.button4 {
  grid-area: button4;
}
.button5 {
  grid-area: button5;
}
.button6 {
  grid-area: button6;
  margin-top: -5px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'button1 button2 button3'
    'button4 button5 button6';
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30%;
}

.grid-container > div {
  text-align: center;
}
